@import "./contact-modal";
@import "./side-basket";

.header {
  position: relative;
  z-index: 10;
  border-bottom: 1px solid $gray;
  padding: 0 8px;
  background: $primary-white;

  @media (max-width: 1420px) {
    padding: 4px 8px;
  }

  &.open-burger {
    .header {
      &__menu-icon {
        height: 0;

        &::before {
          transform: rotate(45deg);
          top: 0;
        }

        &::after {
          transform: rotate(-45deg);
          top: 0;
        }
      }
    }
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 0;

    @media (max-width: 1420px) {
      padding: 4px 8px;
    }

    @media (max-width: 765px) {
      padding: 8px;
    }

    @media (max-width: 375px) {
      flex-wrap: wrap;
      gap: 10px;
    }
  }

  &__block {
    display: flex;
    align-items: center;
    gap: 32px;
  }

  &__logo {
    width: 160px;
    height: 36px;
    color: $primary-text;

    @media (max-width: 1420px) {
      display: none;
    }

    &_mobile {
      display: none;
      width: 45px;
      height: 40px;
      color: $primary-text;

      @media (max-width: 1420px) {
        display: block;
      }
    }
  }

  &__mobile-block {
    display: flex;
    align-items: center;
  }

  &__navigation {
    display: flex;
    align-items: center;
    gap: 24px;

    @media (max-width: 1420px) {
      display: none;
    }
  }

  .navigation {
    &__list {
      display: flex;
      align-items: center;
      gap: 24px;
      color: $primary-text;
    }

    &__link {
      font-size: 14px;
      font-weight: 300;
      line-height: 120%;
      letter-spacing: 0.224px;

      @media (hover: hover) {
        &:hover {
          color: $primary-blue;
        }
      }
    }
  }

  &__products-button {

    .button-icon,
    span {
      pointer-events: none;
    }

    .button-icon {
      transform: rotate(0deg);
      transition: transform 0.2s ease-in-out;
    }

    &.active {
      .button-icon {
        transform: rotate(180deg);
      }
    }
  }

  &__buttons {
    display: flex;
    align-items: center;
    gap: 8px;

    @media (max-width: 375px) {
      flex: auto;
      flex-wrap: wrap;
      justify-content: end;
    }
  }

  &__button-badge {
    position: relative;
    padding: 14px 20px;

    @media (max-width: 1420px) {
      padding: 10px 12px;
    }

    @media (max-width: 765px) {
      padding: 10px 12px;
    }

    .button-text {
      @media (max-width: 1420px) {
        display: none;
      }
    }

    .button-badge {
      @media (max-width: 1420px) {
        position: absolute;
        top: -3px;
        right: -4px;
      }
    }

    .button-icon {

      &_left,
      &_right {
        @media (max-width: 1420px) {
          margin-right: 0;
          margin-left: 0;
        }
      }
    }
  }

  &__menu-button {
    cursor: pointer;
    display: none;
    align-items: center;
    justify-content: center;
    width: 52px;
    height: 40px;
    padding: 4px 10px;
    margin: 0 16px 0 0;
    background: none;
    border: none;

    @media (hover: hover) {
      &:hover {
        .header {
          &__menu-icon {

            &,
            &::before,
            &::after {
              background: $primary-blue;
            }
          }
        }
      }
    }

    @media (max-width: 1420px) {
      display: flex;
    }
  }

  &__menu-icon {
    position: relative;
    width: 28px;
    height: 2px;
    background: $primary-text;
    border-radius: 1px;
    transition: transform 0.2s ease-in-out;

    &::before {
      content: '';
      position: absolute;
      display: block;
      top: -8px;
      width: 28px;
      height: 2px;
      background: $primary-text;
      border-radius: 1px;
    }

    &::after {
      content: '';
      position: absolute;
      display: block;
      bottom: -8px;
      width: 28px;
      height: 2px;
      background: $primary-text;
      border-radius: 1px;
    }
  }

  &__button-contacts {
    @media (max-width: 1420px) {
      display: none;
    }
  }
}

.burger-menu {
  position: absolute;
  overflow-y: scroll;
  z-index: 100;
  opacity: 0;
  scale: 0;
  width: 100%;
  height: calc(100dvh - 70px);
  padding: 8px;
  background: $primary-white;
  transition:
    opacity 0.2s ease-in-out,
    scale 0s ease-in-out 0.2s;

  &::-webkit-scrollbar {
    width: 2px;
    height: 2px;
    background: transparent;
    background-clip: content-box;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: $primary-blue;
  }

  &.show {
    scale: 1;
    opacity: 1;
    transition:
      scale 0s ease-in-out,
      opacity 0.2s ease-in-out 0.2s;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: 100%;
    gap: 8px;
  }

  &__block {
    padding: 24px;
    width: 100%;
    border-radius: 8px;
    background: $gray;
  }

  &__small-text {
    font-size: 12px;
    line-height: 1.2;
    letter-spacing: 0.168px;
    color: $light-gray;

    @media (prefers-color-scheme: dark) {
      color: $primary-black;
    }
  }

  &__caption {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.4;
    letter-spacing: 0.256px;
  }

  &__products {
    margin: 24px 0 0;
    display: grid;
    gap: 12px;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $primary-text;
    padding: 0 0 12px 0;
    border-bottom: 2px solid $border;

    &:last-child {
      padding: 0;
      border-bottom: none;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    @media (hover: hover) {
      &:hover {
        color: $primary-blue;
      }
    }
  }

  &__products-icon {
    width: 32px;
    max-width: 32px;
    min-width: 32px;
    height: 32px;
    max-height: 32px;
    min-height: 32px;
  }

  &__navigation-list {
    display: grid;
    grid-template-columns: 100%;
  }

  &__navigation-link {
    font-size: 14px;
    font-weight: 300;
    line-height: 1.2;
    letter-spacing: 0.224px;
    color: $links-gray;
    padding: 6px 0 12px 0;
    border-bottom: 2px solid $border;

    &:first-child {
      padding: 0 0 12px 0;
    }

    &:last-child {
      padding: 6px 0 0;
      border-bottom: none;
    }

    @media (hover: hover) {
      &:hover {
        color: $primary-blue;
      }
    }
  }

  &__socials {
    display: grid;
    justify-content: center;
    grid-template-columns: 100%;
    gap: 24px;
  }

  &__socials-list {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__socials-item {
    display: flex;
    align-items: center;
    margin: 0 16px 0 0;

    &:last-child {
      margin: 0;
    }
  }

  &__socials-link {
    padding: 14px;
    border-radius: 999px;
    border: 2px solid $primary-blue;
    color: $primary-blue;

    @media (hover: hover) {
      &:hover {
        background: $badge;
      }
    }
  }

  &__socials-icon {
    display: flex;
    width: 20px;
    max-width: 20px;
    min-width: 20px;
    height: 20px;
    max-height: 20px;
    min-height: 20px;
  }

  &__button-contact {
    justify-content: center;
    width: 100%;
    max-width: 656px;
    margin: 0 auto;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;

    @media (hover: hover) {
      &:hover {
        color: $primary-blue;
        background-color: $primary-white;
        outline: 2px solid $primary-blue;
      }
    }
  }
}

.products {
  background: $primary-white;
  position: absolute;
  overflow-y: scroll;
  z-index: 10;
  width: 100%;
  margin: 0;
  border-radius: 0;
  transform: scaleY(0);
  transform-origin: top center;
  transition: transform .2s ease-in-out;

  &.show {
    transform: scaleY(1);
  }

  &__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 32px;
    padding: 32px 0;
  }

  &__item {
    width: clamp(320px, 22vw, 361px);
    border-bottom: 2px solid $light-gray;

    &:nth-child(odd) {
      .products__image {
        background: $primary-blue;
      }

      // @media (hover: hover) {
      //   &:hover {
      //     .products__info {
      //       color: $primary-blue;
      //       background: $primary-yellow;
      //     }
      //   }
      // }
    }

    &:nth-child(even) {
      .products__image {
        background: $primary-yellow;
      }

      // @media (hover: hover) {
      //   &:hover {
      //     .products__info {
      //       color: $primary-yellow;
      //       background: $primary-blue;
      //     }
      //   }
      // }
    }

    @media (hover: hover) {
      &:hover {
        .products__info {
          color: $primary-blue;
          background: $primary-yellow;
          // padding: 24px 24px 22px;
          // border-bottom: 2px solid $badge;
        }
      }
    }
  }

  &__image {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 172px;
    border-radius: 8px;

    .img {
      width: 100%;
      object-fit: cover;
      opacity: 0.6;
      mix-blend-mode: luminosity;
    }
  }

  &__icon {
    position: absolute;
    top: 16px;
    left: 16px;
    width: 60px;
    max-width: 60px;
    min-width: 60px;
    height: 60px;
    max-height: 60px;
    min-height: 60px;
  }

  &__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px;
    color: $primary-text;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.2;
    letter-spacing: 0.32px;

    &-icon {
      width: 28px;
      max-width: 28px;
      min-width: 28px;
      height: 28px;
      max-height: 28px;
      min-height: 28px;
    }
  }
}