.about {
  &__container {
    display: grid;
    grid-template-columns: 437px 1fr;
    gap: 32px;
    padding: 132px 0;

    @media (max-width: 1420px) {
      grid-template-columns: 274px 1fr;
      gap: 48px;
      padding: 64px 0;
    }

    @media (max-width: 767px) {
      grid-template-columns: 100%;
      gap: 32px;
    }

    @media (max-width: 300px) {
      padding: 35px 0;
      gap: 16px;
    }
  }

  &__title {

    @media (max-width: 767px) {
      padding: 0 0 24px;
      border-bottom: 1px solid $light-gray;
      font-size: 28px;
      letter-spacing: 0.392px;
    }

    @media (max-width: 300px) {
      font-size: clamp(14px, 2vw, 24px);
    }
  }

  &__content {
    display: grid;
    gap: 32px;

    @media (max-width: 767px) {
      gap: 24px
    }

    @media (max-width: 300px) {
      gap: 16px;
    }
  }

  &__text {
    color: $links-gray;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.4;
    letter-spacing: 0.32px;

    @media (max-width: 1420px) {
      font-size: 16px;
      letter-spacing: 0.256px;
    }


    &-title {
      color: $primary-text;
    }
  }
}