.reviews {
  .section-container {
    @media (max-width: 1024px) {
      padding: 24px 0 64px;
    }

    @media (max-width: 767px) {
      padding: 64px 0;
    }
  }

  &__top {
    padding: 64px 24px;
    border-radius: 8px;
    color: $primary-white;
    background: $primary-text;

    @media (max-width: 1024px) {
      padding: 48px 24px;
    }

    @media (max-width: 767px) {
      padding: 32px 24px;
    }
  }

  &__title {
    padding: 0 0 32px;
    color: $primary-white;
    border-bottom: 1px solid $gray;

    @media (max-width: 767px) {
      padding: 0 0 24px;
      border-bottom: 2px solid $gray;
    }

  }

  &__text {
    max-width: 773px;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.2;
    letter-spacing: 0.32px;

    @media (max-width: 1024px) {
      max-width: 608px;
      font-size: 14px;
      letter-spacing: 0;
    }

    @media (max-width: 768px) {
      max-width: 352px;
      letter-spacing: 0.224px;
    }

    @media (max-width: 767px) {
      max-width: 100%;
    }
  }

  &__top-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin: 32px 0 0;

    @media (max-width: 767px) {
      gap: 32px;
      margin: 24px 0 0;
    }
  }

  &__socials-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    @media (max-width: 374px) {
      gap: 8px;
    }
  }

  &__socials-item {
    display: flex;
    align-items: center;
    margin: 0 16px 0 0;

    &:last-child {
      margin: 0;
    }

    @media (max-width: 374px) {
      margin: 0;
    }
  }

  &__socials-link {
    padding: 22px;
    border-radius: 999px;
    background: $primary-blue;
    color: $primary-white;

    @media (hover: hover) {
      &:hover {
        background: $badge;
      }
    }

    @media (max-width: 1024px) {
      padding: 14px;
    }

    @media (max-width: 767px) {
      padding: 16px;
    }
  }

  &__socials-icon {
    display: flex;
    width: 28px;
    max-width: 28px;
    min-width: 28px;
    height: 28px;
    max-height: 28px;
    min-height: 28px;

    @media (max-width: 1024px) {
      width: 20px;
      max-width: 20px;
      min-width: 20px;
      height: 20px;
      max-height: 20px;
      min-height: 20px;
    }

    @media (max-width: 767px) {
      width: 24px;
      max-width: 24px;
      min-width: 24px;
      height: 24px;
      max-height: 24px;
      min-height: 24px;
    }
  }

  &__container {
    margin: 32px 0 0;

    @media (max-width: 767px) {
      margin: 16px 0 0;
    }
  }

  &__navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
    margin: 32px 0 0;

    @media (max-width: 767px) {
      gap: 16px;
    }

    @media (max-width: 350px) {
      flex-wrap: wrap;
    }

    &:has(.reviews__swiper-button-prev.swiper-button-disabled) {
      .reviews__swiper-button-prev {
        width: 360px;

        @media (max-width: 1440px) {
          width: 320px;
        }

        @media (max-width: 1024px) {
          width: 213px;
        }

        @media (max-width: 378px) {
          width: 125px;
        }
      }
    }

    &:has(.reviews__swiper-button-next.swiper-button-disabled) {
      .reviews__swiper-button-prev {
        width: 100%;
      }
    }
  }

  &__swiper-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: width 0.2s ease-in-out;

    @media (hover: hover) {
      &:hover {
        background: $badge;
        color: $primary-white;
      }
    }

    &.swiper-button-disabled {
      cursor: auto;
      color: $links-gray;
      background: $light-gray;
      pointer-events: none;

      &.button_bordered {
        border: none;
      }

      @media (hover: hover) {
        &:hover {
          background: $light-gray;
        }
      }
    }

    &::after {
      display: none;
    }

    .button-text {
      font-size: 18px;
      font-weight: 700;
      line-height: 1.2;

      @media (max-width: 1024px) {
        font-size: 16px;
        font-weight: 500;
      }
    }

    .icon {
      display: flex;
      width: 28px;
      max-width: 28px;
      min-width: 28px;
      height: 28px;
      max-height: 28px;
      min-height: 28px;

      @media (max-width: 1439px) {
        width: 24px;
        max-width: 24px;
        min-width: 24px;
        height: 24px;
        max-height: 24px;
        min-height: 24px;
      }

      @media (max-width: 767px) {
        width: 20px;
        max-width: 20px;
        min-width: 20px;
        height: 20px;
        max-height: 20px;
        min-height: 20px;
      }
    }

    &-prev {
      width: 360px;
      padding: 22px 32px 22px 24px;

      @media (max-width: 1440px) {
        width: 320px;
      }

      @media (max-width: 1024px) {
        width: 213px;
        padding: 16px 28px 16px 20px;
      }

      @media (max-width: 765px) {
        padding: 16px 28px 16px 20px;
      }

      @media (max-width: 378px) {
        width: 125px;
      }

      .icon {
        transform: rotate(180deg);
      }
    }

    &-next {
      width: 100%;
      padding: 22px 24px 22px 32px;
      border: 1px solid $primary-blue;

      @media (max-width: 1024px) {
        padding: 16px 20px 16px 28px;
      }

      @media (max-width: 765px) {
        padding: 16px 20px 16px 28px;
      }

      &.swiper-button-disabled {
        width: 360px;
        border: 1px solid transparent;


        @media (max-width: 1440px) {
          width: 320px;
        }

        @media (max-width: 1024px) {
          width: 213px;
        }

        @media (max-width: 378px) {
          width: 125px;
        }
      }
    }
  }

  &__pagination {
    position: relative !important;
    display: none;
    height: 7px !important;
    margin: 24px 0 0;
    border-radius: 6px;

    .swiper-pagination-progressbar-fill {
      border-radius: inherit;
      background: $badge !important;
    }

    @media (max-width: 767px) {
      display: block;
    }
  }

  &__slider {
    .swiper-wrapper {
      height: 524px;

      @media (max-width: 1440px) {
        height: 492px;
      }

      @media (max-width: 1024px) {
        height: 352px;
      }

      @media (max-width: 767px) {
        height: 290px;
      }
    }
  }

  &__slide,
  .swiper-slide {
    border-radius: 8px;
    overflow: hidden;

    .fb-post {
      cursor: pointer !important;
      width: 100% !important;
      height: 100% !important;

      span {
        pointer-events: none;
        width: 100% !important;
        height: 100% !important;

        iframe {
          width: 100% !important;
          height: 100% !important;
        }
      }
    }
  }

  &__img {
    width: 100%;
    height: 100%;

    .image {
      width: 100%;
      max-height: 100%;
      object-fit: cover;
    }
  }
}