<footer class='footer'>
  <div class='footer__container'>
    <div class='footer__wrapper'>
      <div class='container'>
        <div class='footer__content'>
          <div class='footer__first'>
            <a href="#" class="footer__logo-link" aria-label='home page link'>
              <svg class="footer__logo">
                <use xlink:href="#logo-footer"></use>
              </svg>
            </a>

            <p class='footer__text'>Розвивайте технології разом із нами — обирайте якісні рішення, підтримуйте
              виробництво
              та рухайте індустрію вперед! </p>
          </div>

          <div class='footer__second'>
            <ul class='footer__list'>
              <li class='footer__item'>
                <a href="#" class="footer__link">Головна</a>
              </li>

              <li class='footer__item'>
                <a href="#" class="footer__link">Про нас</a>
              </li>

              <li class='footer__item'>
                <a href="#" class="footer__link">Як ми працюємо</a>
              </li>

              <li class='footer__item'>
                <a href="#" class="footer__link">Партнери</a>
              </li>

              <li class='footer__item'>
                <a href="#" class="footer__link">Відгуки</a>
              </li>

              <li class='footer__item'>
                <a href="#" class="footer__link">ЗМІ про нас</a>
              </li>
            </ul>

            <ul class='footer__list'>
              <li class='footer__item'>
                <a href="#" class="footer__link">Для зброї</a>
              </li>

              <li class='footer__item'>
                <a href="#" class="footer__link">Медицина</a>
              </li>

              <li class='footer__item'>
                <a href="#" class="footer__link">Для рацій</a>
              </li>

              <li class='footer__item'>
                <a href="#" class="footer__link">РЕБ / РЕР</a>
              </li>

              <li class='footer__item'>
                <a href="#" class="footer__link">РЕБ / РЕР</a>
              </li>

              <li class='footer__item'>
                <a href="#" class="footer__link">ЗМІ про нас</a>
              </li>
            </ul>
          </div>

          <div class='footer__third'>
            <ul class='footer__socials-list'>
              <li class='footer__socials-item'>
                <a href="#" class="footer__socials-link" aria-label='instagram link'>
                  <svg class="footer__socials-icon">
                    <use xlink:href="#instagram"></use>
                  </svg>
                </a>
              </li>

              <li class='footer__socials-item'>
                <a href="#" class="footer__socials-link" aria-label='facebook link'>
                  <svg class="footer__socials-icon">
                    <use xlink:href="#facebook"></use>
                  </svg>
                </a>
              </li>

              <li class='footer__socials-item'>
                <a href="#" class="footer__socials-link" aria-label='tiktok link'>
                  <svg class="footer__socials-icon">
                    <use xlink:href="#tiktok"></use>
                  </svg>
                </a>
              </li>

              <li class='footer__socials-item'>
                <a href="#" class="footer__socials-link" aria-label='youtube link'>
                  <svg class="footer__socials-icon">
                    <use xlink:href="#youtube"></use>
                  </svg>
                </a>
              </li>
            </ul>

            <button class='footer__button-contact' type='button' aria-label='email link'>
              <svg class="icon">
                <use xlink:href="#mail"></use>
              </svg>

              <span>example@mail.com</span>
            </button>

          </div>
        </div>
      </div>
    </div>

    <p class='footer__bottom'>
      © 2025 TAKO. All rights reserved
    </p>
  </div>
</footer>