<div class='header__bg'></div>

<header class='header'>
  <div class='container header__container'>
    <div class="header__wrapper">
      <div class='header__block'>
        <div class='header__mobile-block'>
          <button class='header__menu-button'>
            <span class='header__menu-icon'></span>
          </button>

          <a class='header__logo-link' href="index.html">
            <svg class="header__logo">
              <use xlink:href="#logo"></use>
            </svg>

            <svg class="header__logo_mobile">
              <use xlink:href="#logo_mobile"></use>
            </svg>
          </a>
        </div>

        <nav class="header__navigation navigation">
          <button class='button header__products-button' type='button'>
            <span>Вироби</span>

            <svg class="button-icon button-icon_right">
              <use xlink:href="#arrow-down"></use>
            </svg>
          </button>

          <div class="navigation__list">
            <a class="navigation__link" href="#">Про нас</a>
            <a class="navigation__link" href="#">Як ми працюємо</a>
            <a class="navigation__link" href="#">Партнери</a>
            <a class="navigation__link" href="#">Відгуки</a>
          </div>
        </nav>
      </div>

      <div class='header__buttons'>
        <button class='button button_bordered header__button-contacts' type='button'>Зв’язатися</button>
        <button class='button button_bordered' type='button'>Підтримати</button>
        <a href='/checkout.html' class='button button_background header__button-badge'>
          <svg class="button-icon button-icon_left">
            <use xlink:href="#backpack"></use>
          </svg>

          <span class='button-text'>Передзамовлення</span>

          <span class='button-icon_right button-badge'>
            <span>5</span>
            <span class='button-badge__plus'>+</span>
          </span>
        </a>
      </div>
    </div>
  </div>
</header>

<div class='section header__products products noscroll-allow' data-scroll-lock-scrollable>
  <div class="container">
    <ul class='products__list'>
      <li class='products__item'>
        <a href="#" class="products__link">
          <div class='products__image'>
            {{>modules/picture className="img" src="/img/weapon1.png" webpSrc="/img/weapon1.webp"
            width="360" height="172" alt="weapon"}}
            <svg class="products__icon">
              <use xlink:href="#corner"></use>
            </svg>
          </div>

          <div class='products__info'>
            <span>Для зброї</span>

            <svg class="products__info-icon">
              <use xlink:href="#products-icon2"></use>
            </svg>
          </div>
        </a>
      </li>

      <li class='products__item'>
        <a href="#" class="products__link">
          <div class='products__image'>
            {{>modules/picture className="img" src="/img/medicine.png" webpSrc="/img/medicine.webp"
            width="360" height="172" alt="medicine"}}
            <svg class="products__icon">
              <use xlink:href="#corner-white"></use>
            </svg>
          </div>

          <div class='products__info'>
            <span>Медицина</span>

            <svg class="products__info-icon">
              <use xlink:href="#products-icon2"></use>
            </svg>
          </div>
        </a>
      </li>

      <li class='products__item'>
        <a href="#" class="products__link">
          <div class='products__image'>
            {{>modules/picture className="img" src="/img/walkie-talkie.png" webpSrc="/img/walkie-talkie.webp"
            width="360" height="172" alt="walkie-talkie"}}
            <svg class="products__icon">
              <use xlink:href="#corner"></use>
            </svg>
          </div>

          <div class='products__info'>
            <span>Для рацій</span>

            <svg class="products__info-icon">
              <use xlink:href="#products-icon2"></use>
            </svg>
          </div>
        </a>
      </li>

      <li class='products__item'>
        <a href="#" class="products__link">
          <div class='products__image'>
            {{>modules/picture className="img" src="/img/reb.png" webpSrc="/img/reb.webp"
            width="360" height="172" alt="reb"}}
            <svg class="products__icon">
              <use xlink:href="#corner-white"></use>
            </svg>
          </div>

          <div class='products__info'>
            <span>РЕБ / РЕР</span>

            <svg class="products__info-icon">
              <use xlink:href="#products-icon2"></use>
            </svg>
          </div>
        </a>
      </li>

      <li class='products__item'>
        <a href="#" class="products__link">
          <div class='products__image'>
            {{>modules/picture className="img" src="/img/drone.png" webpSrc="/img/drone.webp"
            width="360" height="172" alt="drone"}}
            <svg class="products__icon">
              <use xlink:href="#corner"></use>
            </svg>
          </div>

          <div class='products__info'>
            <span>Для дронів</span>

            <svg class="products__info-icon">
              <use xlink:href="#products-icon2"></use>
            </svg>
          </div>
        </a>
      </li>
    </ul>
  </div>
</div>

<div class='burger-menu noscroll-allow' data-scroll-lock-scrollable>
  <div class='burger-menu__wrapper'>
    <div class='burger-menu__block'>
      <p class='burger-menu__small-text'>ВИРОБИ</p>

      <ul class='burger-menu__products'>
        <li class='burger-menu__item'>
          <a href="#" class="burger-menu__link">
            <span class='burger-menu__caption'>
              Для зброї
            </span>
            <svg class="burger-menu__products-icon">
              <use xlink:href="#products-icon"></use>
            </svg>
          </a>
        </li>

        <li class='burger-menu__item'>
          <a href="#" class="burger-menu__link">
            <span class='burger-menu__caption'>
              Медицина
            </span>

            <svg class="burger-menu__products-icon">
              <use xlink:href="#products-icon"></use>
            </svg>
          </a>
        </li>

        <li class='burger-menu__item'>
          <a href="#" class="burger-menu__link">
            <span class='burger-menu__caption'>
              РЕБ / РЕР
            </span>

            <svg class="burger-menu__products-icon">
              <use xlink:href="#products-icon"></use>
            </svg>
          </a>
        </li>

        <li class='burger-menu__item'>
          <a href="#" class="burger-menu__link">
            <span class='burger-menu__caption'>
              Для дронів
            </span>

            <svg class="burger-menu__products-icon">
              <use xlink:href="#products-icon"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>

    <div class='burger-menu__block'>
      <nav class="burger-menu__navigation">
        <div class="burger-menu__navigation-list">
          <a class="burger-menu__navigation-link" href="#">Головна</a>
          <a class="burger-menu__navigation-link" href="#">Про нас</a>
          <a class="burger-menu__navigation-link" href="#">Як ми працюємо</a>
          <a class="burger-menu__navigation-link" href="#">Партнери</a>
          <a class="burger-menu__navigation-link" href="#">Відгуки</a>
        </div>
      </nav>
    </div>

    <div class='burger-menu__block'>
      <div class='burger-menu__socials'>
        <ul class='burger-menu__socials-list'>
          <li class='burger-menu__socials-item'>
            <a href="#" class="burger-menu__socials-link">
              <svg class="burger-menu__socials-icon">
                <use xlink:href="#instagram"></use>
              </svg>
            </a>
          </li>

          <li class='burger-menu__socials-item'>
            <a href="#" class="burger-menu__socials-link">
              <svg class="burger-menu__socials-icon">
                <use xlink:href="#facebook"></use>
              </svg>
            </a>
          </li>

          <li class='burger-menu__socials-item'>
            <a href="#" class="burger-menu__socials-link">
              <svg class="burger-menu__socials-icon">
                <use xlink:href="#tiktok"></use>
              </svg>
            </a>
          </li>

          <li class='burger-menu__socials-item'>
            <a href="#" class="burger-menu__socials-link">
              <svg class="burger-menu__socials-icon">
                <use xlink:href="#youtube"></use>
              </svg>
            </a>
          </li>
        </ul>

        <button class='button burger-menu__button-contact' type='button'>Зв’язатися</button>
      </div>
    </div>
  </div>
</div>