<div class='modal__bg'></div>

<header class='header'>
  <div class='container header__container'>
    <div class="header__wrapper">
      <div class='header__block'>
        <div class='header__mobile-block'>
          <button class='header__menu-button' type='button' aria-label='open burger menu'>
            <span class='header__menu-icon'></span>
          </button>

          <a class='header__logo-link' href="index.html" aria-label='home page link'>
            <svg class="header__logo">
              <use xlink:href="#logo"></use>
            </svg>

            <svg class="header__logo_mobile">
              <use xlink:href="#logo_mobile"></use>
            </svg>
          </a>
        </div>

        <nav class="header__navigation navigation">
          <button class='button header__products-button' type='button'>
            <span>Вироби</span>

            <svg class="button-icon button-icon_right">
              <use xlink:href="#arrow-down"></use>
            </svg>
          </button>

          <div class="navigation__list">
            <a class="navigation__link" href="index.html#about-us">Про нас</a>
            <a class="navigation__link" href="index.html#how-work">Як ми працюємо</a>
            <a class="navigation__link" href="index.html#partners">Партнери</a>
            <a class="navigation__link" href="index.html#reviews">Відгуки</a>
          </div>
        </nav>
      </div>

      <div class='header__buttons'>
        <button class='button contacts-button button_bordered header__button-contacts' type='button'>Зв’язатися</button>
        <a href='support.html' class='button button_bordered'>Підтримати</a>
        <a href='checkout.html' class='button button_background header__button-badge'>
          <svg class="button-icon button-icon_left">
            <use xlink:href="#backpack"></use>
          </svg>

          <span class='button-text'>Передзамовлення</span>

          <span class='button-icon_right button-badge'>
            <span>5</span>
            <span class='button-badge__plus'>+</span>
          </span>
        </a>
      </div>
    </div>
  </div>
</header>

<div class='section header__products products noscroll-allow' data-scroll-lock-scrollable>
  <div class="container">
    <ul class='products__list'>
      <li class='products__item'>
        <a href="#" class="products__link">
          <div class='products__image'>
            {{>modules/picture className="img" src="/img/products/weapon1.png" webpSrc="/img/products/weapon1.webp"
            width="360" height="172" alt="weapon" hidden=true}}
            <svg class="products__icon">
              <use xlink:href="#corner"></use>
            </svg>
          </div>

          <div class='products__info'>
            <span>Для зброї</span>

            <svg class="products__info-icon">
              <use xlink:href="#products-icon2"></use>
            </svg>
          </div>
        </a>
      </li>

      <li class='products__item'>
        <a href="#" class="products__link">
          <div class='products__image'>
            {{>modules/picture className="img" src="/img/products/medicine.png" webpSrc="/img/products/medicine.webp"
            width="360" height="172" alt="medicine" hidden=true}}
            <svg class="products__icon">
              <use xlink:href="#corner-white"></use>
            </svg>
          </div>

          <div class='products__info'>
            <span>Медицина</span>

            <svg class="products__info-icon">
              <use xlink:href="#products-icon2"></use>
            </svg>
          </div>
        </a>
      </li>

      <li class='products__item'>
        <a href="#" class="products__link">
          <div class='products__image'>
            {{>modules/picture className="img" src="/img/products/walkie-talkie.png"
            webpSrc="/img/products/walkie-talkie.webp"
            width="360" height="172" alt="walkie-talkie" hidden=true}}
            <svg class="products__icon">
              <use xlink:href="#corner"></use>
            </svg>
          </div>

          <div class='products__info'>
            <span>Для рацій</span>

            <svg class="products__info-icon">
              <use xlink:href="#products-icon2"></use>
            </svg>
          </div>
        </a>
      </li>

      <li class='products__item'>
        <a href="#" class="products__link">
          <div class='products__image'>
            {{>modules/picture className="img" src="/img/products/reb.png" webpSrc="/img/products/reb.webp"
            width="360" height="172" alt="reb" hidden=true}}
            <svg class="products__icon">
              <use xlink:href="#corner-white"></use>
            </svg>
          </div>

          <div class='products__info'>
            <span>РЕБ / РЕР</span>

            <svg class="products__info-icon">
              <use xlink:href="#products-icon2"></use>
            </svg>
          </div>
        </a>
      </li>

      <li class='products__item'>
        <a href="#" class="products__link">
          <div class='products__image'>
            {{>modules/picture className="img" src="/img/products/drone.png" webpSrc="/img/products/drone.webp"
            width="360" height="172" alt="drone" hidden=true}}
            <svg class="products__icon">
              <use xlink:href="#corner"></use>
            </svg>
          </div>

          <div class='products__info'>
            <span>Для дронів</span>

            <svg class="products__info-icon">
              <use xlink:href="#products-icon2"></use>
            </svg>
          </div>
        </a>
      </li>
    </ul>
  </div>
</div>

<div class='burger-menu noscroll-allow' data-scroll-lock-scrollable>
  <div class='burger-menu__wrapper'>
    <div class='burger-menu__block'>
      <p class='burger-menu__small-text'>ВИРОБИ</p>

      <ul class='burger-menu__products'>
        <li class='burger-menu__item'>
          <a href="#" class="burger-menu__link">
            <span class='burger-menu__caption'>
              Для зброї
            </span>
            <svg class="burger-menu__products-icon">
              <use xlink:href="#products-icon"></use>
            </svg>
          </a>
        </li>

        <li class='burger-menu__item'>
          <a href="#" class="burger-menu__link">
            <span class='burger-menu__caption'>
              Медицина
            </span>

            <svg class="burger-menu__products-icon">
              <use xlink:href="#products-icon"></use>
            </svg>
          </a>
        </li>

        <li class='burger-menu__item'>
          <a href="#" class="burger-menu__link">
            <span class='burger-menu__caption'>
              РЕБ / РЕР
            </span>

            <svg class="burger-menu__products-icon">
              <use xlink:href="#products-icon"></use>
            </svg>
          </a>
        </li>

        <li class='burger-menu__item'>
          <a href="#" class="burger-menu__link">
            <span class='burger-menu__caption'>
              Для дронів
            </span>

            <svg class="burger-menu__products-icon">
              <use xlink:href="#products-icon"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>

    <div class='burger-menu__block'>
      <nav class="burger-menu__navigation">
        <div class="burger-menu__navigation-list">
          <a class="burger-menu__navigation-link" href="index.html">Головна</a>
          <a class="burger-menu__navigation-link" href="index.html#about-us">Про нас</a>
          <a class="burger-menu__navigation-link" href="index.html#how-work">Як ми працюємо</a>
          <a class="burger-menu__navigation-link" href="index.html#partners">Партнери</a>
          <a class="burger-menu__navigation-link" href="index.html#reviews">Відгуки</a>
        </div>
      </nav>
    </div>

    <div class='burger-menu__block'>
      <div class='burger-menu__socials'>
        <ul class='burger-menu__socials-list'>
          <li class='burger-menu__socials-item'>
            <a href="#" class="burger-menu__socials-link" aria-label='instagram link'>
              <svg class="burger-menu__socials-icon">
                <use xlink:href="#instagram"></use>
              </svg>
            </a>
          </li>

          <li class='burger-menu__socials-item'>
            <a href="#" class="burger-menu__socials-link" aria-label='facebook link'>
              <svg class="burger-menu__socials-icon">
                <use xlink:href="#facebook"></use>
              </svg>
            </a>
          </li>

          <li class='burger-menu__socials-item'>
            <a href="#" class="burger-menu__socials-link" aria-label='tiktok link'>
              <svg class="burger-menu__socials-icon">
                <use xlink:href="#tiktok"></use>
              </svg>
            </a>
          </li>

          <li class='burger-menu__socials-item'>
            <a href="#" class="burger-menu__socials-link" aria-label='youtube link'>
              <svg class="burger-menu__socials-icon">
                <use xlink:href="#youtube"></use>
              </svg>
            </a>
          </li>
        </ul>

        <button class='button contacts-button burger-menu__button-contact' type='button'>Зв’язатися</button>
      </div>
    </div>
  </div>
</div>

{{>components/contact-modal}}