@import "./common/global";
@import "./components/header";
@import "@/styles/pages/checkout/form";
@import "@/styles/pages/checkout/success";
@import "@/styles/pages/checkout/product-card";

.checkout {
  &__footer {
    margin: auto 0 0;
    padding: 0 0 8px;

    &-wrapper {
      padding: 32px 24px;
      border-radius: 8px;
      font-size: 14px;
      font-weight: 300;
      line-height: 17px;
      color: $light-gray;
      border: 1px solid $primary-black;
      background: $primary-text;

      @media (prefers-color-scheme: dark) {
        color: $primary-black;
        background: $light-gray;
      }
    }
  }
}