$primary-white: #ffffff;
$primary-black: #000000;
$primary-text: #1C2F43;
$gray: #F6F7F9;
$light-gray: #D0D0D0;
$disabled: #E0E0E0;
$links-gray: #6B6B6B;
$primary-blue: #0F5EBB;
$badge: #5A9BEF;
$border: #d0d0d033;
$primary-yellow: #FFD719;