.bank-details {
  &__container {
    display: grid;
    grid-template-columns: 611px 1fr;
    gap: 32px;
    padding: 32px 0;

    @media (max-width: 1439px) {
      grid-template-columns: 500px 1fr;
    }

    @media (max-width: 1200px) {
      grid-template-columns: 100%;
    }

    @media (max-width: 1023px) {
      gap: 24px;
      padding: 24px 0;
    }

    @media (max-width: 765px) {
      gap: 32px;
      padding: 16px 0;
    }
  }

  &__first {
    padding: 48px 24px 32px 0;

    @media (max-width: 1200px) {
      padding: 24px 0 32px;
    }

    @media (max-width: 1023px) {
      padding: 0 0 42px;
    }

    @media (max-width: 765px) {
      order: 2;
      padding: 0;
    }
  }

  &__title {
    margin: 0 0 20px 0;
    color: $primary-text;
    font-size: 28px;
    font-weight: 300;
    line-height: 1.2;
    letter-spacing: 0.392px;

    @media (max-width: 765px) {
      margin: 0 0 16px 0;
      font-size: 20px;
      letter-spacing: 0.32px;
    }
  }

  &__content {
    display: grid;
    grid-template-columns: 100%;
    grid-auto-rows: max-content;
    gap: 20px;
    padding: 16px 0 0 0;
  }

  &__text {
    margin: 0 0 8px 0;
    color: $links-gray;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0.196px;
  }

  &__button {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
    padding: 14px 18px 14px 16px;
    color: $primary-text;
    border-radius: 8px;
    border: 2px solid $light-gray;
    background: $primary-white;
    transition: color 0.2s ease-in-out, border 0.2s ease-in-out;

    @media (max-width: 1200px) {
      padding: 10px 14px 10px 8px;
    }

    .button-icon {
      pointer-events: none;
      width: 20px;
      max-width: 20px;
      min-width: 20px;
      height: 20px;
      max-height: 20px;
      min-height: 20px;
    }

    @media (hover: hover) {
      &:hover {
        color: $primary-yellow;
        border: 2px solid $primary-blue
      }


      &:active {
        color: $primary-blue;
        border: 2px solid $primary-yellow
      }
    }
  }

  &__details {
    pointer-events: none;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.2;
    letter-spacing: 0.224px;

    @media (max-width: 1200px) {
      font-size: 12px;
      letter-spacing: 0.192px;
    }
  }

  &__second {
    position: relative;
    overflow: hidden;
    background: $primary-blue;
    border-radius: 8px;
    padding: 24px;

    @media (max-width: 765px) {
      padding: 12px;
    }
  }

  &__image {
    position: absolute;
    pointer-events: none;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__wrapper {
    position: relative;
    z-index: 1;
  }

  &__corner {
    position: absolute;
    width: 60px;
    max-width: 60px;
    min-width: 60px;
    height: 60px;
    max-height: 60px;
    min-height: 60px;

    @media (max-width: 765px) {
      width: 27px;
      max-width: 27px;
      min-width: 27px;
      height: 28px;
      max-height: 28px;
      min-height: 28px;
    }
  }

  &__block {
    display: grid;
    grid-template-columns: 100%;
    grid-auto-rows: max-content;
    gap: 32px;
    padding: 40px 0 0;

    @media (max-width: 765px) {
      gap: 12px;
      padding: 30px 0 0;
    }
  }

  &__caption {
    color: $primary-white;
    text-align: center;
    font-size: 24px;
    font-weight: 300;
    line-height: 1.2;
    letter-spacing: 0.36px;

    @media (max-width: 1200px) {
      font-size: 20px;
      letter-spacing: 0.32px;
    }

    @media (prefers-color-scheme: dark) {
      color: $primary-black;
    }
  }

  &__code-wrapper {
    position: relative;
    width: fit-content;
    margin: 0 auto;
    padding: 10px;

    @media (max-width: 1200px) {
      padding: 8px;
    }

    @media (max-width: 765px) {
      display: none;
    }
  }

  &__corner-line {
    position: absolute;
    pointer-events: none;
    width: 60px;
    max-width: 60px;
    min-width: 60px;
    height: 60px;
    max-height: 60px;
    min-height: 60px;

    &.top {
      top: 0;
    }

    &.bottom {
      bottom: 0;
    }

    &.left {
      left: 0;
    }

    &.right {
      right: 0;
    }

    &.bottom.left {
      transform: rotate(-90deg);
    }

    &.bottom.right {
      transform: rotate(180deg);
    }

    &.top.right {
      transform: rotate(90deg);
    }
  }

  &__qr-code {
    overflow: hidden;
    width: 100%;
    height: 100%;
    border-radius: 4px;
  }

  &__donate-button {
    width: fit-content;
    align-items: center;
    justify-content: center;
    margin: 0 auto;

    @media (max-width: 765px) {
      width: 100%;
      max-width: 500px;
    }
  }
}