.partners {
  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;

    @media (max-width: 1600px) {
      grid-auto-rows: minmax(420px, 29.2vw);
    }

    @media (max-width: 1023px) {
      gap: 16px;
    }
  }

  &__title {
    flex: 1 1 25%;

    @media (max-width: 1023px) {
      flex: 1 1 100%;
      margin: 0 0 16px;
      padding: 0 0 24px;
      border-bottom: 1px solid $light-gray;
    }
  }

  &__item {
    position: relative;
    height: 25.63vw;
    flex: 1 1 25%;
    border-radius: 8px;
    border: 1px solid $light-gray;
    background: $primary-white;

    @media (max-width: 1440px) {
      height: 29.2vw;
    }

    @media (max-width: 1023px) {
      flex: 1 1 48%;
      height: 21.4vw;
    }

    @media (max-width: 767px) {
      flex: 1 1 47%;
      height: 43.7vw;
    }

    @media (max-width: 374px) {
      flex: 1 1 100%;
      height: 50vw;
    }

    &:nth-child(2) {
      @media (max-width: 1023px) {
        flex: 1 1 100%;
        height: 25vw;
      }

      @media (max-width: 767px) {
        height: 51.2vw;
      }
    }

    @media (hover: hover) {
      &:hover {
        .partners {
          &__image {
            transform: scale(1.1);
          }

          &__caption {
            padding: 18px 0 16px;
            color: $badge;
            border-bottom: 2px solid $badge;
          }
        }
      }
    }
  }

  &__content {
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: inherit;

    @media (prefers-color-scheme: dark) {
      background: $disabled;
    }
  }

  picture {
    &.partners__image {
      margin: 0;
      height: auto;
      max-height: unset;
    }
  }

  &__image {
    display: flex;
    justify-content: center;
    object-fit: contain;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    height: 100%;
    transition: transform 0.2s ease-in-out;

    @media (max-width: 1023px) {
      aspect-ratio: 310 / 164;
    }

    @media (max-width: 767px) {
      aspect-ratio: 150 / 164;
    }

    @media (max-width: 374px) {
      aspect-ratio: 250 / 164;
    }

    &_logo {
      @media (max-width: 560px) {
        aspect-ratio: 320 / 164;
      }

      @media (max-width: 374px) {
        aspect-ratio: 280 / 164;
      }

    }
  }

  &__caption {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    bottom: 0;
    width: 90%;
    margin: auto auto 16px;
    padding: 18px 0;
    color: $primary-blue;
    background: $primary-white;

    @media (max-width: 1023px) {
      margin: auto auto 4px;
      padding: 10px 0;
    }

    &-text {
      font-size: 16px;
      font-weight: 500;
      line-height: 1.2;

      @media (max-width: 1023px) {
        font-size: 12px;
        font-weight: 300;
        letter-spacing: 0.192px;
      }
    }
  }

  &__icon {
    width: 24px;
    max-width: 24px;
    min-width: 24px;
    height: 24px;
    max-height: 24px;
    min-height: 24px;

    @media (max-width: 1023px) {
      width: 20px;
      max-width: 20px;
      min-width: 20px;
      height: 20px;
      max-height: 20px;
      min-height: 20px;
    }
  }
}